In [20]:
import pandas as pd
df = pd.read_csv("../data/Library_Usage.csv")
df.columns

/tmp/ipykernel_5542/226503331.py:2: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../data/Library_Usage.csv")

Index(['Patron Type Code', 'Patron Type Definition', 'Total Checkouts',
       'Total Renewals', 'Age Range', 'Home Library Code',
       'Home Library Definition', 'Circulation Active Month',
       'Circulation Active Year', 'Notice Preference Code',
       'Notice Preference Definition', 'Provided Email Address',
       'Year Patron Registered', 'Within San Francisco County'],
      dtype='object')

In [21]:
df['Circulation Active Year'] = pd.to_numeric(
     df['Circulation Active Year'], errors='coerce')

In [22]:
df.head()

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,5,Staff,53,15,NaN,b2,Bayview,Mar,2023.0,z,Email,True,2003,False
1,5,Staff,480,378,NaN,e9,Excelsior,Jun,2023.0,z,Email,True,2003,False
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,Jan,2023.0,z,Email,True,2011,False
3,5,Staff,3934,2140,NaN,o2,Ocean View,Jul,2023.0,z,Email,True,2003,False
4,5,Staff,1118,1035,NaN,o7,Ortega,Jul,2023.0,z,Email,True,2003,False

In [23]:
df['Circulation Active Month'] = pd.to_datetime(
    df['Circulation Active Month'],
    errors='coerce',
    format="%b"
).dt.month

In [24]:
df['Circulation Active Month'].dtype

dtype('float64')

In [25]:
df['Circulation Active Year'].dtype

dtype('float64')

Berechnung Mitgliedschaft in Monaten:
'Membership Duration' = ('Circulation Active Year' - 'Year Patron Registered')*12 + 'Circulation Active Month'

In [26]:
#for i in df['Circulation Active Year']:
Membership_Duration = (df['Circulation Active Year'] - df['Year Patron Registered'] ) * 12 + df['Circulation Active Month']

In [27]:
df.insert(loc=9, column = 'Membership Duration in Month', value = Membership_Duration)

In [28]:
df.head()

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Membership Duration in Month,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,5,Staff,53,15,NaN,b2,Bayview,3.0,2023.0,243.0,z,Email,True,2003,False
1,5,Staff,480,378,NaN,e9,Excelsior,6.0,2023.0,246.0,z,Email,True,2003,False
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,1.0,2023.0,145.0,z,Email,True,2011,False
3,5,Staff,3934,2140,NaN,o2,Ocean View,7.0,2023.0,247.0,z,Email,True,2003,False
4,5,Staff,1118,1035,NaN,o7,Ortega,7.0,2023.0,247.0,z,Email,True,2003,False

In [29]:
Membership_Duration_year = ((df['Circulation Active Year'] - df['Year Patron Registered'] ) * 12 + df['Circulation Active Month'])/12

In [30]:
df.insert(loc=10, column = 'Membership Duration in Years', value = Membership_Duration_year )

In [31]:
df.head()

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Membership Duration in Month,Membership Duration in Years,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,5,Staff,53,15,NaN,b2,Bayview,3.0,2023.0,243.0,20.250000,z,Email,True,2003,False
1,5,Staff,480,378,NaN,e9,Excelsior,6.0,2023.0,246.0,20.500000,z,Email,True,2003,False
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,1.0,2023.0,145.0,12.083333,z,Email,True,2011,False
3,5,Staff,3934,2140,NaN,o2,Ocean View,7.0,2023.0,247.0,20.583333,z,Email,True,2003,False
4,5,Staff,1118,1035,NaN,o7,Ortega,7.0,2023.0,247.0,20.583333,z,Email,True,2003,False

In [36]:
row_filter_0_monate = df['Membership Duration in Month'] == 0.00
df.loc[row_filter_0_monate]

Empty DataFrame
Columns: [Patron Type Code, Patron Type Definition, Total Checkouts, Total Renewals, Age Range, Home Library Code, Home Library Definition, Circulation Active Month, Circulation Active Year, Membership Duration in Month, Membership Duration in Years, Notice Preference Code, Notice Preference Definition, Provided Email Address, Year Patron Registered, Within San Francisco County]
Index: []